/* allow map to fill viewport */
#map-canvas
{
    /* height of these elements */
    /*height: 100%;*/

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;
    
    position: absolute;
	top: 100px;
	left: 0;
	bottom: 0;
	right: 50;
    width: 100%;
  
}
#header{
    
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0px; 

}

/* center form */

main .form-control
{
    /* center form controls */
    display: inline-block;
    justify-content: center;
    /* override Bootstrap's 100% width for form controls */
    width: auto;
    display: flex;
}
main .form-group
{
    /* block-level flex container */
    display: flex;
    display: inline block;
    width: auto;

    /* center container's content */
    justify-content: center;
}

/* stylize text box */
main #q
{
    /* override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* text box's width */
    width: 300px;
    border: 3px solid #fff;

}

/* stylize info window */
#info
{
    /* no margin around this element */
    margin: 0;

    /* allow scrollbars as needed */
    overflow: auto;
}
#info ul
{
    margin-bottom: 0;
}

.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;

}
.navbar-brand li a{
    position: absolute;
    width: 100%;
    left: 30px;
    top: 0px;
    /*text-align: left;*/
    /*margin: auto;*/
    /*padding:0px;*/
    /*line-height: 25px;*/
    /*height: 25px;*/
    /*padding-bottom:50px;*/
}
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
    padding-bottom: 50px;
    height: 100px;
}

.navbar-default{
    z-index:-1;
    width:100%;
    margin:0;
    padding:0;
}
.container{
    
    margin:0;
    padding:0;
    width:100%;
    
}
/* stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-menu
{
 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;

}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}
*:focus {
    outline: none;
}

#optbar{
    position:absolute;
    top:0px;
    left:0px;
    width:18%;
    height:40%;
    overflow:hidden;
}
.icon{

    color:white;
    background:#850000;
    height:15%;
    width:34%;
    position:absolute;
    top:0px;
    font-size:250%;
    text-align:center;
    display:block;
    z-index:20;
    cursor:pointer;

}
/*fixes autocomplete bug for bootstrap modal utilizing autocomplete*/
.pac-container { z-index: 100000; }
#add-icon{

}
#search-icon{
    position:absolute;
    left:33%;

}
#filter-icon{
    position:absolute;
    left:66%;

}

.optform{
    width:300px;
    position:absolute;
    left:0px;
    background-color:#9a0000;

}
.optform .focus{
}

#optform.focus{}

#add-form{
    position:absolute;
    top:30%;
    left:40%;
    height:40%;
    background-color:#a60000;
    visibility:hidden;
    border-radius:4%;
 
    z-index:15;

}

#add-form #add-inputs{
    position:absolute;
    top:63px;
    height:65%;
}

#add-form #add-inputs *{
    margin: 0px 0px 5px 8px;
    border-width:1px;
    border-color:black;
    height:30px;

}
#add-event-desc { 
    position:absolute;
    left:0px;
    bottom:7px;
    min-height:60px;
    max-height:60px;
    resize:none;
    overflow-y: scroll;
    
}

#add-submit{
    position:absolute;
    bottom:6px;
    left:25px;
    height:40px;
    width:100px;
    border:none;
    box-shadow:none;
    border-radius: 3px;
    background:#a6a6a6;
    cursor:pointer;
}

#add-title{
    height:100%;
    width:100%;
    margin:auto;
    color:white;
    position:absolute;
    top:18px;
    font-size: 25px;
    font-family: "Arial",sans-serif;
    text-align:center;
}

#search-form{
    position:absolute;
    top:-200px;
    width:100%;
    height:10%;
    background-color:#a60000;
    border:none;
    padding:0 10px;
    color:white;

}

#filter-form{
    position:absolute;
    top:-400px;
    width:100%;
    height:300px;
    background-color:#a60000;
    font-family: "Arial",sans-serif;

}

#filter-title{
    height:100%;
    width:100%;
    margin:auto;
    color:white;
    position:absolute;
    top:18px;
    font-size: 25px;
    font-family: "Arial",sans-serif;
    text-align:center;
}

#filter-form #filter-inputs{  
    position:absolute;
    top:65px;
    left:10px;
    color:white;
    border-width:1px;
    border-color:black;

}

#filter-event-keyword{
    border-width:1px;
    border-color:black;

}
#filter-event-date{
    border-width:1px;
    border-color:black;
}



#filter-submit{
    position:absolute;
    bottom:10px;
    left:25px;
    height:40px;
    width:100px;
    border:none;
    box-shadow:none;
    border-radius: 3px;
    background:#a6a6a6;
    cursor:pointer;
}


#overlay{
    position:absolute;
    top:0px;
    bottom:0px;
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    background:black;
    color:black;
    opacity:.4;
    z-index:100;
    visibility:hidden;
}


#add-form.focus{
    position:absolute;
    
    visibility:visible;


}

#search-form.focus{
    position:absolute;
    top:15%;
    transition: top .5s;

}

#filter-form.focus{
    position:absolute;
    top:15%;
    transition: top .5s;


}

#overlay.focus{
    visibility:visible;
}


