{% extends "layout.html" %}

{% block title %}
    Create Your Event
{% endblock %}

{% block main %}
    <form action="{{ url_for('create_event') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="event_name" placeholder="Name of Event" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="event_time" placeholder="Time of Event" type="text"/>
            </div>
            
    
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
            <div class="form-group">
                <input class="form-control" name="Attire" placeholder="Attire" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="Cost" placeholder="Cost" type="text"/>
            </div>
            <div class="form-group">
            <div class="form-group">
              <label for="comment">Directions:</label>
              <textarea class="form-control" rows="3" id="comment"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="createEvent">Create Event</button>
            </div>
            
        </fieldset>
    </form>
{% endblock %}
